.Isi {
  color: brown;
  padding-top: 20px;
  padding-bottom: 430px;
  background-color: antiquewhite;
}

.satu {
  width: 160px;
  text-align: center;
  border: 1px solid darkred;
}

.dua {
  width: 90px;
  text-align: center;
  border: 1px solid darkred;
}

.tiga {
  width: 245px;
  text-align: center;
  border: 1px solid darkred;
}

.empat {
  width: 160px;
  text-align: center;
  border: 1px solid darkred;
}
